.login-modal {
  .login-button {
    button {
      width: 100%;
      margin-top: 10px;
    }
  }

  .ant-form-item {
    margin-bottom: 15px;
  }

  .forget-password {
    display: block;
    text-align: center;
    font-size: 12px;
  }
}
