@import "variable";
body {
  margin: 0;
  font-family: "PingFang SC";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

#root {

  button {
    transition: color ease-in-out .2s;
  }
  .btn-active, .btn-active:focus {
    color: $btn-active-color;
  }
}
