@import "variable";
body {
  margin: 0;
  font-family: "PingFang SC";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

#root {
  font-family: "PingFang SC";
  height: 100%;
  button {
    transition: color ease-in-out .2s;
  }
  .btn-active, .btn-active:focus {
    color: $btn-active-color;
  }
  section:focus {
    box-shadow: none;
  }
}


.login {
  word-break: keep-all;
}

.ant-btn-link {
  color: #71777c;
}
