@import "src/styles/variable";

.home-wrapper {
  flex: 1;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
  width: 100%;
  display: flex;
  max-width: 960px;

  .sub-header {
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 36px;
    background-color: white;
  }

  .sort-wrapper {
    margin: 12px 0;
    display: flex;
    justify-content: space-between;
    button {
      margin-right: 12px;
    }
    .ant-btn-default {
      color: $gray-500;
    }
  }
  ul {

    flex: 1;
    padding: 24px;
    background-color: white;
    overflow: scroll;
    position: relative;

    &::-webkit-scrollbar {
      display: none;
    }
    .ant-empty {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .pagination-btn-wrapper {
      z-index: 99;
      display: flex;
      justify-content: flex-end;
      button {
        margin: 16px;
        transition: all ease-in-out .3s;
      }
    }

    li {
      padding: 12px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
      border-bottom: $gray-300 1px solid;
      height: 140px;

      .right-panel {
        img {
          min-width: 90px;
          max-width: 90px;
          height: 90px;
          object-fit: cover;
          border-radius: 6px;
        }
      }

      .left-panel {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 6px;

        button {
          padding: 0 20px 0 0;
          color: $gray-500;
          cursor: pointer;

          span {
            padding-right: 6px;
          }
        }

        .top-info {
          color: $gray-600;
          font-size: 12px;

          span:first-child {
            margin-right: 12px;
          }
        }

        h3 {
          margin-bottom: 0;
          cursor: pointer;
          &:hover {
            color: #40a9ff;
            text-decoration-line: underline;
          }
        }

        .btn-like:hover, .btn-like-active, .btn-like:active, .btn-like:focus {
          color: #F56565;
        }

        .btn-comment:hover {
          color: #40a9ff;
        }
      }
    }
  }
}
